<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sinatra Ajax Example</title>
</head>
<body>

  <%= yield %>

  <script src="/javascripts/vendor/jquery-2.1.1.min.js"></script>
  <script src="/javascripts/app.js"></script>
</body>
</html>
